.container-fluid.col-md-10.col-md-offset-1.dosis-font.bigger-font
  - if story.synopsis
    %h2.blue-h4
      = story.synopsis
  %p
    = story.body
  .row.col-md-12
    - if story.name.present?
      %p.col-md-offset-1.col-md-8
        = "- #{story.name}"
    - else
      %p.col-md-offset-1.col-md-8 - Anonymous
    - if admin_signed_in?
      = link_to 'TRASH', shared_story_path(story.id), method: :delete, class:'btn btn-primary pull-right col-md-3', data: { confirm: "Are you sure?" }
  - if story.phone.present?
    %p
      = "Phone: #{story.phone}"
  - if story.email.present?
    %p
      = "Email: #{story.email}"
  %br
  %hr.green-hr
