.container-fluid.col-md-12
  = render partial: 'layouts/vertical_circles'
  .container-fluid.col-md-9
    .container-fluid.col-md-12
      %h1.nav-links-header SHARED STORIES
      %br
    .container-fluid.col-md-12
      - if admin_signed_in?
        - @pending_stories.each do |story|
          = render partial: "list_stories", locals: { story: story }
          = link_to 'APPROVE', edit_shared_story_path(story, approved: 'true'), class: 'btn btn-primary', data: { confirm: "Are you sure?" }
          %hr

    .container-fluid.col-md-12
      - @approved_stories.each do |story|
        = render partial: "list_stories", locals: { story: story }
  .container.col-md-9
    %br
    %button.btn.btn-primary#share-story-button SHARE YOUR STORY
    %br
    %br
    %br

    = render partial: 'form', locals: {story: @story}

- content_for :javascript do
  :javascript
    $(document).ready(function() {
      $('#share-story-button').click(function() {
        $(this).addClass('hide');
        $('#story-form').removeClass('hide');
        setCheckListener();
      });

      setCheckListener = function() {
        $('.form-check-input').click(function() {
          if ($('#inlineRadio1').is(':checked')) {
            $('.disabled-inputs').attr('disabled', false);
          }else {
            $('.disabled-inputs').attr('disabled', true);
          }
        });
        return;
      }

      divFade = function() {
        $('.alert').fadeOut(3000);
        return;
      }
      window.setTimeout(divFade, 5000);
    return;
    });
