.container-fluid.col-md-12
  = render partial: 'layouts/vertical_circles'
  .container-fluid.col-md-9
    .container-fluid.col-md-12
      %h1.nav-links-header SHARED STORIES
      %br
    .container-fluid.col-md-12
      - if admin_signed_in?
        -  @pending_stories.each do |story|
          .container-fluid.col-md-10.col-md-offset-1.dosis-font.bigger-font
            - if story.synopsis
              %h2.blue-h4
                = story.synopsis
            %p
              = story.body
            - if story.name
              %p.col-md-offset-1
                = "- #{story.name}"
            - else
              %p.col-md-offset-1 - Anonymous
            = link_to 'APPROVE', edit_shared_story_path(story, approved: 'true'), class: 'btn btn-primary'
            = link_to 'TRASH', shared_story_path(story.id), method: :delete, class:'btn btn-primary'
            %hr

    .container-fluid.col-md-12
      -  @approved_stories.each do |story|
        .container-fluid.col-md-10.col-md-offset-1.dosis-font.bigger-font
          %h2.blue-h4
            - if story.synopsis
              =  story.synopsis
          %p
            = story.body
          - if story.name
            %p.col-md-offset-1
              = "- #{story.name}"
          - else
            %p.col-md-offset-1 - Anonymous
          %hr.green-hr
  .container.col-md-9
    %br
    %button.btn.btn-primary#share-story-button SHARE YOUR STORY
    %br
    %br
    %br

    = render partial: 'form', locals: {story: @story}

- content_for :javascript do
  :javascript
    $(document).ready(function() {
      $('#share-story-button').click(function() {
        $(this).addClass('hide');
        $('#story-form').removeClass('hide');
        setCheckListener();
      });

      setCheckListener = function() {
        $('.form-check-input').click(function() {
          if ($('#inlineRadio1').is(':checked')) {
            $('.disabled-inputs').attr('disabled', false);
          }else {
            $('.disabled-inputs').attr('disabled', true);
          }
        });
        return;
      }

      divFade = function() {
        $('.alert').fadeOut(3000);
        return;
      }
      window.setTimeout(divFade, 5000);
    return;
    });
