.container-fluid.col-md-12
  = render partial: 'layouts/vertical_circles'
  .container-fluid.col-md-9
    .container-fluid.col-md-12
      %h1.nav-links-header NEWS
      %br
      - if admin_signed_in?
        = link_to 'create a story', new_news_story_path, class: 'btn btn-primary'
      %br
      %br
      - @news.each do |story|
        .panel.panel-default.grey-border
          .panel-heading
            %h1.dosis-font.green-h3
              = story.title
          .panel-body
            - if story.embed_url.present?
              .embed-responsive.embed-responsive-16by9
                %iframe.embed-responsive-item{ src: "#{story.embed_url}", allowfullscreen: 'true' }
            -# %br
            - if story.air_date.present?
              %h3.dosis-font
                = story.air_date.strftime('%m/%d/%Y')
                %hr
            %p.dosis-font
              = story.body
              %br
              %br
            - if admin_signed_in?
              %p
                = link_to 'edit', edit_news_story_path(story)
                |
                = link_to 'delete story', news_story_path(story), method: :delete, data: { confirm: "Are you sure?" }
      .page-buttons
        = will_paginate @news, page_links: false, class: 'digg_pagination'
        %br
        %br
