.container-fluid.dosis-font
  .container-fuid
    %h1.nav-links-header{style: 'text-align: center;'}
      READ TODAY SCHEDULE OF PUBLIC EVENTS
    %p{style: 'text-align: center;'}
      The Read Today team hosts a variety of events across the state. From visiting
      elementary schools to join in a celebration of a literary accomplishment to
      providing books and other needed items to Title I schools and community centers.
      Here is a list of public events we will be participating in or hosting in 2018.
      Please check back in throughout the year.  As we get closer to an event, more
      details will be available.
  .container-fluid
    %h3
      = link_to 'Pizza Pledge', pages_index_path(page: 'pizza_pledge')
      %span -
      %span March
    .container-fluid
      %p
        Read Today teams up with Papa Murphy’s for our annual Pizza Pledge. Readers
        can participate in the pledge by reading, or having someone read to them, 20
        minutes a day.  Mark off a slice of pizza for each day read.  Once the pizza
        is fully “cooked” readers can take their completed forms to their participating
        Papa Murphy’s location for a prize. Prizes vary each year.
  .container-fluid
    %h3
      = link_to 'Utah Summer Games', pages_index_path(page: 'summer_games')
      %span -
      %span June
    .container-fluid
      %p
        Join the Read Today team in Cedar City at the Utah Summer Games festival
        that celebrate athletes of all ages and abilities. Read Today, along with
        many other businesses, brings their “A” game to this street party to support
        the 9,600 participants, 50,000 spectators and more than 1,000 volunteers.
  .container-fluid
    %h3
      = link_to 'Zoo Day', pages_index_path(page: 'zoo_day')
      %span -
      %span June
    .container-fluid
      %p
        For one day only, enjoy discounted admission to Utah’s Hogle Zoo, courtesy
        of KSL, FM100 and Read Today.
  .container-fluid
    %h3
      = link_to 'Street Heat (Freedom Festival)', pages_index_path(page: 'street_heat')
      %span -
      %span July
    .container-fluid
      %p
        Read Today joins KSL at the Lavelle Edwards stadium in Provo just before
        the Stadium of Fire concert, supporting a family-friendly street party
        environment full of fun and plenty of swag!
  .container-fluid
    %h3
      = link_to 'Stuff the Bus', pages_index_path(page: 'stuff_the_bus')
      %span -
      %span August
    .container-fluid
      %p
        The Read Today team loves to support United Way in their annual Stuff the
        Bus event. Hundreds of volunteers gather at Rio Tinto Stadium and spend
        the morning stuffing thousands of backpacks with school supplies for kids
        in need.
  .container-fluid
    %h3
      = link_to 'Read With the Bees', pages_index_path(page: 'read_with_bees')
      %span -
      %span August
    .container-fluid
      %p
        This summer reading program, presented by Read Today, Deseret News and KSL,
        in partnership with McDonalds and the Governor’s Office, begins in June
        and runs through the summer. Kids, ages 2-14, are challenged to read or
        be read to, 20 minutes a day. Those who complete the summer reading challenge
        and submit their form receive fun prizes, including two tickets to a
        Salt Lake Bees Game. The fun continues on game night as readers are greeted
        at the gate with foam fingers and treats, making it a night to remember.
  .container-fluid
    %h3
      = link_to 'Fairytale Festival', pages_index_path(page: 'fairytale_festival')
      %span -
      %span September
    .container-fluid
      %p
        Come join Read Today at CenterPointe Legacy Theatre in Centerville to
        celebrate literacy.  Mingle with princesses, knights, pirates and you
        might even run into a villain or two. They all gather for one weekend to
        tell stories, play games and meet their biggest fans! Find the Read Today
        booth and pick up a free book and some other fun items.
  .container-fluid
    %h3
      = link_to 'Howl-O-Ween', pages_index_path(page: 'howloween')
      %span -
      %span October
    .container-fluid
      %p
        On Halloween, Main Street in Park City shuts down to traffic and invites
        ghosts and goblins for a fun and safe trick-or-treating experience. Stroll
        down Main Street to load up on candy and don’t forget to pick up a free
        book from the Read Today booth.  You might want to even stick around for
        the Dog Parade.
