.container-fluid.col-md-12
  = render partial: 'layouts/vertical_circles'
  .container-fluid.col-md-9
    .container-fluid
      %h1.nav-links-header
        123 CONNECT
      %h3.green-h3.no-padding-left
        OUR MONTHLY NEWS PUBLICATION WITH THE DESERET NEWS IS COMPLEMENTARY AND
        AVAILABLE FOR ALL UTAH ELEMENTARY SCHOOLS
      %h3.dosis-font
        %strong
          Would you like to receive 123 Connect in your school? Please complete
          the
          %a.dosis-bold
            order form
          and send it to
          = mail_to("apoynor@utahmediagroup.com")
      - if admin_signed_in?
        = link_to "Add", new_connect_path, class: "btn btn-primary"
        %br
        %br
        %br


  .container.col-md-9
    -# =render partial: "other_connects"
    %ul.nav.nav-pills.nav-justified.mb-3#pills-tab{role: "tablist"}
      %li.nav-item.active
        %a.nav-link.active#123connect-tab{href:"#123connect", 'data-toggle' => 'pill', role:"tab", "aria-controls" => "123connect-tab", "aria-selected" => "true" }
          123 CONNECT
      %li.nav-item
        %a.nav-link#early-connect-tab{href:"#early-connect", 'data-toggle' => 'pill', role:"tab", "aria-controls" => "early-connect-tab", "aria-selected" => "false" }
          EARLY CONNECT
    .tab-content#connect-pillsContent
      .tab-pane.fade.in.active.col-sm-6#123connect{role: "tabpanel", "aria-labelledby" => "123connect-tab"}
        = render partial: "list_connects", locals: { connects: @connects }
      .tab-pane.fade.col-sm-6.col-sm-offset-6#early-connect{role: "tabpanel", "aria-labelledby" => "early-connect-tab"}
        = render partial: "list_connects", locals: { connects: @early_connects }
