.container-fluid.dosis-font.schedule-container
  .container-fuid
    %h1.nav-links-header{style: 'text-align: center;'}
      READ TODAY SCHEDULE OF PUBLIC EVENTS
    %p{style: 'text-align: center;'}
      The Read Today team hosts a variety of events across the state. From visiting
      elementary schools to join in a celebration of a literary accomplishment to
      providing books and other needed items to Title I schools and community centers.
      Here is a list of public events we will be participating in or hosting in 2018.
      Please check back in throughout the year.  As we get closer to an event, more
      details will be available.
      %br
      - if admin_signed_in?
        = render partial: "add_activity"
    - if summer_reading_time
      .container-fluid
        .row
          %h3
            = link_to "Summer Reading Event", pages_index_path(page: "read_with_bees"), class: "h3-link"
            %span -
            %span.green-h3 June..August
          .container-fluid
            %p
              This summer reading program, presented by Read Today, Deseret News and KSL,
              in partnership with McDonalds and the Governor’s Office, begins in June
              and runs through the summer. Kids, ages 2-14, are challenged to read or
              be read to, 20 minutes a day. Those who complete the summer reading challenge
              and submit their form receive fun prizes, including two tickets to a
              Salt Lake Bees Game. The fun continues on game night as readers are greeted
              at the gate with foam fingers and treats, making it a night to remember.

    - @activities.each do |activity|
      .container-fluid
        .row
          %h3
            - if viewable?(activity.month)
              = link_to activity.name, activity_path(activity), class: "h3-link"
            - else
              = activity.name
            %span -
            %span.green-h3
              = "#{translate_month(activity.month)} #{activity.date.to_i.ordinalize}"
            %br

          .container-fluid
            %p
              = activity.description
            - if admin_signed_in?
              = render partial: "activate", locals: { activity: activity }
          %br
          %br
