.container-fluid.dosis-font.schedule-container
  .container-fuid
    %h1.nav-links-header{style: 'text-align: center;'}
      READ TODAY SCHEDULE OF PUBLIC EVENTS
    %p{style: 'text-align: center;'}
      The Read Today team hosts a variety of events across the state. From visiting
      elementary schools to join in a celebration of a literary accomplishment to
      providing books and other needed items to Title I schools and community centers.
      Here is a list of public events we will be participating in or hosting in 2018.
      Please check back in throughout the year.  As we get closer to an event, more
      details will be available.
      %br
      - if admin_signed_in?
        = render partial: "add_activity"
    - @activities.each do |activity|
      .container-fluid
        .row
          %h3
            - if viewable?(activity.month)
              = link_to activity.name, activity_path(activity), class: "h3-link"
            - else
              = activity.name
            %span -
            %span.green-h3
              = translate_month(activity.month)
            %br
            = render partial: "activate", locals: { activity: activity }
          .container-fluid
            %p
              = activity.description
          %br
          %br
