.container-fluid.dosis-font
  .container.col-md-12
    %h1.nav-links-header{style: 'text-align: center;'}
      = @activity.name
      - if admin_signed_in?
        = render partial: 'activate', locals: { activity: @activity }
        = link_to "ADD PDF", new_activity_attached_pdf_path(@activity) ,class:"btn btn-primary"
        = link_to "ATTACH IMAGE", new_activity_attached_image_path(@activity) ,class:"btn btn-primary"
      %br
  .container.col-md-12
    - if @activity.banner
      .container.col-md-12
        %img.img-responsive{ src: @activity.banner.image.url }
    .col-md-9
      %h4
        = @activity.description
      - if @pdfs.any?
        .container-fluid
          .row
            .h3.green-h3
              Additional Info -> &nbsp
              - @pdfs.each do |pdf|
                %a{ href: "#{pdf.pdf.url}", target: :blank, style: "text-decoration:none;" }
                  %span.blue-h4
                    = pdf.name
        %br
        %br
    .col-md-3
      - if @images.any?
        .container-fluid
          %h4 here are some images
          - @images.each do |image|
            .col-md-12
              %img.img-responsive{ href: @image.image.url }
  - if @activity.url.present?
    .container-fluid.col-md-8.col-md-offset-2
      = render partial: "activity_youtube_card"
