.container-fluid.blacky.col-md-7.col-xs-12
  %nav.navbar
    .container-fluid
      %a.btn.btn-navbar.navbar-toggle.collapsed{ "data-target" => ".navbar-collapse", "data-toggle" => "collapse" }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li.nav-top-link
            = link_to 'OUR MISSION', pages_index_path(page: 'our_mission')
          %li.dropdown.nav-top-link
            = link_to 'SCHEDULE', pages_index_path(page: 'schedule')
          %li.dropdown.nav-top-link
            %a{style: 'cursor: pointer;'} RESOURCES
            %ul.dropdown-menu#resources-dropdown
              %li
                = link_to '123 CONNECT', pages_index_path(page: '123_connect')
              %li
                = link_to 'FAQs', pages_index_path(page: 'frequent_questions')
          %li.dropdown.nav-top-link
            %a#media-tab{style: 'cursor: pointer;'} MEDIA
            %ul.dropdown-menu#media-dropdown
              %li
                = link_to 'NEWS', news_stories_path
              %li
                = link_to 'SHARED STORIES', shared_stories_path
          %li.nav-top-link
            = link_to 'CONTACT', pages_index_path(page: 'contact_us')
