!!! 5
%html
  %head
    %title ReadToday
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    .wrapper
      .top-bar
      .container-fluid.logo.col-md-4.col-xs-4
        #logo
      = render partial: 'layouts/nav_bar'

      .container.page-container
        = yield
    
    = render partial: 'layouts/footer'
