!!! 5
%html
  %head
    %title ReadToday
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    .wrapper
      .top-bar
      .container-fluid.logo.col-md-4.col-xs-4
        %a{ href: root_path }
          #logo
      = render partial: 'layouts/nav_bar'

      .container-fluid.page-container
        = yield

    = render partial: 'layouts/footer'
